*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}

body{
      background-color: rgb(43, 42, 42);
      margin: 25px;

}

header{
        display: flex;
        height: 75vh;
        width: 96vw;
        background-size: 190vh;
        background-image: url(redentor.jpg)


}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 85px;
    margin: 25px;
    color: white;
    
}

p{
    font-size: 25px;
    color: white;
}

i{
    display: flex;
    font-size: 30px;
    color: white;
}

a{
    color: rgb(46, 115, 243);
}

#container{
            display: flex;
            background-color: white;
            height: 150px;
            width: 150px;
            border-radius: 15px;
            font-size: 35px;
            color: blue;
}

#linkpj{
        display: flex;
         font-size: 25px;
}